/*! объявление css-переменных, палитра */
:root{
    --color-schemes-base:#59ddff;
    --color-schemes-maine:#00cbff;
    --color-schemes-accent:#ff0065;
    --color-schemes-accent-logo: #ffcd00;
    --color-schemes-accent-logo-current:#ffd93f;

    --primary-text:#000000;
    --secondary-text:#494545;
    --opposite-text:#ffffff;
    --primary-background:#ffffff;
    --secondary-background:#dad8dc;
    --modal-background: rgba(0,0,0,0.2);

    /* --background-top:#e1dfe3;
    --background-middle:#ffffff;
    --background-bottom:#2e2c2a; */

    --background-top:#dad8dc;
    --background-middle:#ffffff;
    --background-bottom:#373434;

    --line-header:#8d8b8c;
    --input-border:#21212133;

    --box-shadow1: 0px 2px 1px 0px #00000033;
    --box-shadow2: 0px 1px 1px 0px #00000024;
    --box-shadow3: 0px 1px 3px 0px #0000001f;

    --point-set-gap: 50px;

}

/*! отмена стилей по умолчанию */

/* Указываем box sizing */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Убираем внутренние отступы */
ul,
ol {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
/* li, */
figure,
figcaption {
    margin: 0;
}

/* Убираем подчеркивание ссылок */
a {
    text-decoration: none;
}

/* Убираем стилизацию списков */
ul,
ol {
    list-style: none;
}

/* Убираем стилизацию адреса */
address{
    font-style: normal;
}

/* техника отзывчивых изображений */
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/*! общие свойства для тегов и класса */
body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;

    color: var(--primary-text);
    background-color: var(--primary-background);
}

.container{
    width: 1200px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Header */

.header-top {
    background-color:var(--background-top);
    border-bottom: 1px solid var(--line-header);
    

}

.header-middle{
    background-color: var(--background-middle);
}

.header-bottom{
    background-color: var(--background-bottom);
}

.header-top .container{
    /* display: flex; */
    align-items: center;
}

/* Header-top */

.site-nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.site-nav__list, 
.lang-switcher__list,
.quest{
    display: flex;
    align-items: center;
}


.site-nav__list .site-nav__item + .site-nav__item{
    margin-left: 50px;
}


.lang-switcher__list .lang-switcher__item + .lang-switcher__item{
    margin-left: 35px;
}

.quest{
    margin-left: 130px;
}



/* Header-middle */

.header-middle__list,
.contact__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact__list .contact__item + .contact__item{
    margin-left: 74px;
}

.contacts__icon {
    fill: currentColor;
    display: inline-block;
    margin-right: 5px;
}


/* Logo */

.logo__holder {
    position: relative;
    /* font-family:  */
    font-size: 24px;
}

.logo-img--header {
    position: absolute;
    left: 50px;
    top: -44px;
    z-index: 2;
    max-width: max-content;
}

.logo__text--auto {
    position: absolute;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 16px;
    padding-bottom: 16px;

    /* z-index: 10; */
    top: -32px;
    left: 0px;
    letter-spacing: 0em;
}

.logo__text--parts {
    position: absolute;
    padding-left: 0px;
    padding-top: 16px;
    padding-bottom: 16px;

    /* z-index: 10; */
    top: -32px;
    left: 140px;
    letter-spacing: 0.4em;
}

/* form-search  start*/

/* С помощью следующих правил можно задать тексту-подсказке любой цвет,
поменять начертание и фон поля. Эти селекторы нельзя совмещать в одно правило,
иначе они не будут работать     start*/

/*.input-search::-webkit-input-placeholder {
    color: var(--secondary-text);
    font-style: italic;
    background: var(--background-middle);
}

.input-search:-moz-placeholder {
    color: var(--secondary-text);
    font-style: italic;
    background: var(--background-middle);
}

.input-search:-ms-input-placeholder {
    color: var(--secondary-text);
    font-style: italic;
    background: var(--background-middle);
} */

.form-search{
    width: 480px;
    height: 54px;
    position: relative;
    /* position: fixed; */
    /* top: 800px; */

    margin: 0 auto;
}
.form-search__input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid var(--color-schemes-maine);
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
    font-size: 22px;
    transition: .4s; 
    /* ростягивание поля*/
}
.form-search__label{
    position: absolute;
    top: 16px;
    left: 15px;
    color: var(--color-schemes-maine);
    text-transform: uppercase;
    font-size: 18px;
    transition: top .3s linear;
    /* поднимание надписи */
    padding: 2px 14px 2px 8px;
}
.form-search__input:focus~label, .form-search__input:hover~label{
    top: -9px;

    background-color: var(--color-schemes-base);

    background-color: var(--color-schemes-accent-logo);

    /* border-left: 2px solid var(--color-schemes-maine); */
    /* border-right: 2px solid var(--color-schemes-maine); */

    color: var(--primary-text);

    border-radius: 4px;
    font-size: 12px;
    letter-spacing: 0.1em;

}
.form-search__input:focus, .form-search__input:hover{
    width: 500px;
    background-color: var(--background-middle);

    border-color: var(--color-schemes-accent-logo);
}

.overlays__form-search {
    /* max-width: 1600px; */
    /* min-height: 600px; */
    margin-left: auto;
    margin-right: auto;

    /* background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), 
            url(../images/png/background-new.png); */

    background-image:
        url(../images/jpg/banner-autoparts.jpg);

    /* background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/jpg/banner-autoparts.jpg); */

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: var(--opposite-text);

    /* width: 100%; */
    /* max-height: 542px;
    padding-bottom: 0%; */
}
/* form-search   end*/






/* Header-bottom */

.category-nav__list{
    display: flex;
    height: 56px;
    align-items: center;
    /* justify-content: space-around; */
}

.category-nav__link{
    /* display: block; */

    /* Свойство user-select определяет,
        может ли пользователь выбрать текст */
    user-select: none;
    /* padding: 16px 0px 16px 0px; */
    color: var(--opposite-text);
}

.category-nav__list > li{
    display: inline-block;
    padding: 10px 5px;
    text-align: center;
}

.category-nav__list > li:last-child {
    padding-right: 0px;
    text-align: end;
}

.category-nav__list > li:first-child {
    padding-left: 0px;
    text-align: start;
   
}

/* Link */

.site-nav__link,
.lang-switcher__link,
.contact__link,
.logo{
    color: var(--primary-text);
    text-decoration: none;
}

.site-nav__link,
.lang-switcher__link{
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
}


.contact__link{
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
}

.site-nav__link:hover,
.site-nav__link:focus,
.lang-switcher__link:hover,
.lang-switcher__link:focus,
.contact__link:hover,
.contact__link:focus,
.catalog-nav__link:hover,
.catalog-nav__link:focus,
.logo:hover,
.logo:focus {
    color: var(--color-schemes-maine);
}

/* header__wrapper */
/* фиксация header */
.header__wrapper--fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* отмена фиксации header */

/* Hero */

.hero{
    display: block;
    /* padding: 200px 0; */
    padding: 271px 0;
    text-align: center;
    background-color:var(--background-top);
    /* color: var(--opposite-text); */
    /* height: 100vh; */
    
}

.hero__title{
    width: 685px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    margin-top: 50px;;

    font-weight: 700;
    font-size: 42px;
    line-height: 1.363;
    /* letter-spacing: 0.06em; */
    text-align: center;
    
    /* color: var(--background-bottom); */
}

/* Баннер поверх основы с тенью */

.overlays {
    /* max-width: 1600px; */
    /* min-height: 600px; */
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
    ),
    url(../images/jpg/banner-autoparts.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: var(--opposite-text);

    /* width: 100%; */
    /* max-height: 542px;
    padding-bottom: 0%; */
}

/* Section__title */

.section__title {
    font-size: 24px;
    margin-bottom: 50px;
    color: var(--secondary-text);
    text-align: center;
}

.section__title--secondary{
    text-align: left;
    font-size: 18.72px;
}

.section__title.section__title--secondary{
    margin-bottom: 50px;
}

/* Slider Автомобильные запчасти по категориям */

.slider__item {
    /* color: inherit; */
    text-align: center;
}

a {
    color: var(--primary-text);
}

.slider__item img {
    display: block;
    margin: 0 auto;
    transition: 500ms ease-in-out;
}

.slider__item img:hover{
    transform: scale(1.1);
}

/* Slider Автомобильные запчасти по подкатегориям */

.slider__item.slider__subitem a{
    color: inherit;
    text-align: center;
}
/* название подкатегории становится в две строчки */
.slider__subitem--text{
    padding-left: 5px;
    padding-right: 5px;
}

/* Slider Автомобильные запчасти по марке автомобиля */

/* Увеличение высоты слайдера; это также помогло при transform: scale не выходить эмблемам за рамки слайдера */
.slider__items.slider__items--height {
    height: 150px;
    padding-top: 38px;
}

/* Section slider */

.slider-section{
    padding-top: 50px;
    padding-bottom: 25px;
}

/* 6 карточек в слайдере*/
.slider__item.slider__subitem{
    flex: 0 0 16.66%;
    max-width: 16.66%;
}
/* смещение индикаторов на слайдере ниже */
.slider__indicators.slider__indicators--bottom,
.slider__indicators.slider__indicators--models{
    bottom: -30px;
}

/* индикатор тоньше */
.slider__indicators.slider__indicators--models li{
    height: 3px;
}

.slider__indicators.slider__indicators--bottom li{
    height: 3px;
}


/* Section features*/

.features__list .features-subtitle {
    margin-bottom: 10px;
    color: var(--secondary-text)
}

.title__visibility-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;

    visibility: hidden;
    position: absolute;
}

.features-section{
    padding-top: 50px;
    padding-bottom: 25px;
    /* background-color:var(--background-top) */
}

.features__list{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* flex-flow: ; */
    justify-content: space-between;
    align-items: stretch;
}

.feature__item{
    width: 580px;
    height: 400px;
    line-height: 1.4em;
}

.feature__item:first-child,
.feature__item:nth-child(2){
    height: 290px;
    line-height: 1.4em;
}

.features__text, 
.criteria{
    font-size: 14px;
}

/* первая буква абзаца */
.features__list p::first-letter {
    font-size: xx-large;
    color: var(--color-schemes-maine);
}



/* Slider-section--new */

.slider-section--new{
    padding-top: 50px;
    padding-bottom: 25px;
}

.slider__item.slider__item--new{
    flex: 0 0 20%;
    max-width: 20%;
}

/* Slider-section--viewed */

.slider-section--viewed {
    padding-top: 50px;
    padding-bottom: 25px;
}

.slider__item.slider__item--viewed{
    flex: 0 0 20%;
    max-width: 20%;
}

/* Button */

.button__wrapper{
    /* padding: 25px; */
}

.button{
    /* font-family: inherit; */
    font-family: "Open Sans", sans-serif;

    background-color:var(--primary-background);
    color:var(--primary-text);

    font-size: 20px;
    padding: 8px 16px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    border: transparent;
    /* text-decoration: none; */
    cursor: pointer;
}

.button__primary{
    background-color:var(--color-schemes-maine);

    color: var(--primary-background);
    ;
}

.button__primary:hover{
background-color:var(--color-schemes-base);
}

.button__secondary {
    background-color: var(--color-schemes-accent-logo);

    color: var(--primary-background);
   }

   .button__secondary:hover{
    background-color:var(--color-schemes-accent-logo-current);
   }

   /* Текущая страница start*/

.current {
    color:var(--color-schemes-base);

/* Для установки ::after */
    position: relative;
}

.current::after{
    display: block;
    content: '';
    text-align: center;
    width: 100%;
    height: 1px;
    bottom: -1px;

    background-repeat: 40px;
    background-color:var(--color-schemes-base);
    border: 1px solid;
    border-radius: 10px;
    position: absolute;
}
.site-nav__link--bottom.current-without-after{
    color: var(--color-schemes-base);
}
   /* Текущая страница  end*/

/* Footer */

.footer-box{
   
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:var(--background-top);
}

/* Footer: first-column */

.first-column{
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* flex-flow: ; */
    /* justify-content: space-between; */
    /* align-items: stretch; */
    
}

.logo__holder--footer {
    position: relative;
    /* font-family:  */
    font-size: 24px;
}


.logo-img--footer {
    position: absolute;
    left: 54px;
    top: 0px;
}

.logo__text--auto-footer {
    position: absolute;
    padding-left: 12px;
    padding-right: 90px;
    padding-top: 19px;
    padding-bottom: 19px;
    
    z-index: 10;
    top: 8px;
    left: -12px;
    letter-spacing: 0em;
}

.logo__text--parts-footer{
    position: absolute;
    padding-left: 18px;
    padding-top: 19px;
    padding-bottom: 19px;

    z-index: 10;
    top: 8px;
    left: 127px;
    letter-spacing: 0.4em;
}


.logo__footer-sign{
    /* display: inline-block; */
    font-size: 8px;
    margin-top: 62px;
    
}

.footer-sign--first{
    margin-right: 50px;
    letter-spacing: 0.2em;
    
}

.footer-sign--second {
    margin-right: 0px;
    letter-spacing: 0.68em;
    
}

.contact__list--bottom{
    font-size: 16px;
    margin-top: 70px;

}

/* Footer: address */

.contact__link--bottom{
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--secondary-text);
}

.contact__item--bottom:nth-child(2){
    margin-top: 10px;
    margin-bottom: 20px;
}

.contact__link--bottom:hover,
.contact__link--bottom:focus{
    color: var(--color-schemes-maine);
}

/* Footer: messenger start*/
.messenger__list{
    display: flex;
}
.messenger__item {
    margin-left: 16px;
}
.messenger__link{

}
.messenger__icon{

}
/* Footer: messenger end*/

/* Footer: social start*/
.social-list{

}
.social-item{

}
.social-link{

}
.social-icon{

}

/* Footer: social start*/
.social-list {
    /* outline: 1px solid black; */
    display: flex;
    margin-top: 20px;
}
        
.social-item {
    /* outline: 1px solid blue; */
}
        
.social-list .social-item+.social-item {
    margin-left: 10px;
}
        
.social-link {
    /* outline: 1px solid red; */
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    background-color: #bab9bc;
        /* fill: var(--line-header); */
        /* fill: var(--opposite-text); */

    fill: #EAEAEA;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
        
.social-link:hover,
.social-link:focus {
    background-color: var(--color-schemes-maine);
    fill: var(--opposite-text);
}
        
.social-icon {
    /* outline: 1px solid yellowgreen; */
    width: 20px;
    height: 20px;
}

/* Footer: social end*/

/* Footer: second-column */
.second-column{
    margin-left: 100px;
    margin-top: 28px;
    /* font-size: 24px; */
    /* font-weight:100; */
    text-decoration: none
}

.second-column__link{
    padding-top: 5px;
    padding-bottom: 5px;
    /* text-decoration: none; */
    color: var(--secondary-text);
}

.second-column__link:hover,
.second-column__link:focus{
    color: var(--color-schemes-maine);
}

.second-column__item{
    margin-top: 20px;
}

.second-column__item:first-child {
    margin-top: 0px;
}

.second-column__item:last-child {
    font-size: 16px;
    font-weight: 400;
    margin-top: 60px;
}

/* Footer: third-column */


.third-column{
    margin-left: 100px;
    margin-top: 28px;
    /* font-style: 16px; */
}

.site-nav__link--bottom{
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--secondary-text);
}

.site-nav__link--bottom:hover,
.site-nav__link--bottom:focus{
    color:var(--color-schemes-maine);
}

.site-nav__item--bottom{
    margin-top: 20px;
}

.site-nav__item--bottom:first-child {
    margin-top: 0px;
}

.site-nav__link--bottom .current--bottom{color:var(--color-schemes-base);
}


/* Footer: fourth-column */

.schedule,
.accept{
    margin-left: 100px;
    margin-top: 28px;
}

.schedule__title,
.accept__title{
    color: var(--secondary-text);
}

.schedule__item,
.accept__item{
margin-top: 10px;
}

/* Footer: copyright */

/* .copyright{} */

.footer-box__bottom {
    border-top: 1px solid var(--line-header);
    /* padding-top: 34px; */
    /* height: 44px; */
    background-color: var(--background-top);

    
}

.copyright-text{
    font-size: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
}



/* растягивание слайдера по высоте, - решило задачу одинаковой карточки */
/* .stretch{
    height: 570px;
} */



/* Избранное */

.viewed {
    padding-top: 50px;
    padding-bottom: 25px;
}

.title-wrapper{
    display: inline-flex;
    line-height: 2.8em;
        
}

.title-heart-wrapper,
.title-eye-wrapper,
.title-search-wrapper{
    font-size: 38px;;
    padding: 5px;
}

.title-heart-wrapper:hover {
color: var(--color-schemes-accent-logo);
}


.title-eye-wrapper:hover {
    color: var(--color-schemes-maine);
}

.title-search-wrapper:hover {
    color: var(--color-schemes-accent);
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    /* align-items: stretch; */
    /* align-content: stretch; */
    /* align-self: stretch; */
    margin-left: calc(-1 * 10px);
    margin-bottom: calc(-1 * 10px);

    /* justify-content: space-between; */
}

.product-item {
    /* width: 250px;
    margin: 0 auto;
    padding: 10px 10px 0px 10px;
    flex-grow: 1; */

    display: flex;
   /* flex-direction: column; */

    /* justify-content:space-between; */

    /* max-width: 280px; */
    /* flex-basis: calc(25% - 5px); */
    flex-basis: calc(100% / 5 - 10px);

    border: 1px solid var(--color-schemes-base);
    border-radius: 4px;

    margin-left: calc(1 * 10px);
    margin-bottom: calc(1 * 10px);

    /* убрать маркер в карточках карусели */
    list-style: none;
    
}

.product-item:hover{
    box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
}

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* убирает белый фон картинки */
.product-img-wrapper{
    mix-blend-mode: multiply;
}

.discount-wishlist-wrapper{
    display: flex;
    transition: 2s ease-in-out;

    padding: 10px 10px;
}

.discount{
    display:inline-block;
    font-size: 16px;
    background-color: var(--color-schemes-accent);
    color: var(--opposite-text);

    padding: 6px 6px 6px 6px;
    margin-top: 8px;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid var(--color-schemes-accent);
    border-radius: 4px;
    border: transparent;
}

/* Скрывает дисконт в секции Что новенького */
.discount__visibility-hidden{
    visibility: hidden;
}

.add-to-wishlist{
    /* padding: 4px; */
    font-size: 39px;
    color: var(--color-schemes-accent-logo);
}

.add-to-wishlist:hover,
.add-to-wishlist:focus{
    transform: scale(1.2);
    cursor: pointer;
   

}

.product-img-wrapper {
    transition: 1s ease-in-out;
    /* margin-bottom: 20px; */
}

.product-img-wrapper:hover {
    transform: scale(1.05);
}


.product-text-wrapper{
    flex-grow: 1;
    padding: 20px 10px 20px;
}

.product-title {
    /* margin-left: 8px; */
    margin-bottom: 10px;
    font-size: 24px;

    /* блок заголовка карточки имеет фиксированную высоту */
    /* min-height: 80px; */
    min-height: 50px;
}

.product-description {
    /* margin-left: 8px; */
    /* margin-bottom: 20px; */
    font-size: 16px;
}

.feedback-recommend-basket-wrapper {
    display: flex;
    justify-content: space-between;
    /* margin-left: 8px; */
    margin-bottom: 10px;
    padding: 0px 10px ;

    /* flex-grow: 1; */

}

.feedback-rating {
    display: inline-flex;
    font-size: 24px;
    color: var(--color-schemes-accent-logo);
    /* margin-top: auto;
    margin-bottom: auto; */
}

.feedback-recommend {
    font-size: 14px;
}

.price__wrapper{
    /* flex-grow: 1; */
    padding: 0px 10px;
}

.add-basket {
    /* display: inline-block; */
    font-size: 38px;
    margin-top: auto;
    margin-bottom: auto;
    /* text-align:center;
    vertical-align: baseline; */

    color: var(--color-schemes-accent-logo);

    /* padding: 6px 4px 0px 6px; */

    /* border: 1px solid var(--color-schemes-accent-logo); */
    /* border-radius: 4px; */

    /* position: absolute;
    transform: translate(400%, 642%); */

    color: var(--color-schemes-accent-logo);
    
}

.add-basket:hover,
.add-basket:focus{
    
    transform: scale(1.2);
    cursor: pointer;
}

.price-old {
    font-size: 16px;
    color: var(--line-header);
    text-decoration: line-through;
    text-decoration-color: var(--color-schemes-accent);
    /* margin-left: 8px; */
    /* margin-bottom: 10px; */
}

.price-current {
    font-size: 24px;
    /* margin-left: 8px; */
    /* margin-bottom: 10px; */
}

/* .price-basket-wrapper{
    display: flex;
    justify-content: space-between;
} */



.delivery-day {
    font-size: 14px;
    /* margin-left: 8px; */
    margin-bottom: 20px;
    color: var(--color-schemes-accent-logo);
}

.buy-button {
    display: inline-block;
    margin: 0 auto;
    background-color: var(--color-schemes-maine);
    color: var(--opposite-text);
    /* padding: 8px 16px;
    font-size: 20px; */
    text-align: center;
    width: 100%;
}

.buy-button:hover,
.buy-button:focus {
background-color: var(--color-schemes-base);  
transition: color 300ms cubic-bezier(0.2, 0, 0.2, 1);
    
}


/* Favorite */

.favorite {
    padding-top: 50px;
    padding-bottom: 75px;
}

/* вторая страница */
/* master-catalog.html */

.master-catalog-section, .catalog-section {
    padding-top: 50px;
    padding-bottom: 25px;
}

.brand__list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;

    margin-left: calc(-1 * 20px);
    margin-bottom: calc(-1 * 20px);

    /* outline: 1px solid #ffcd00; */
}

.brand__item{
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 5 - 20px);

    margin-left: calc(1 * 20px);
    margin-bottom: calc(1 * 20px);

    padding: 25px;
    
    /* outline: 1px solid #ff0065; */
}

.master-catalog-section .section__title, .catalog-section .section__title{
    margin-bottom: 20px;
}

.parts-categories__list{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    margin-left: calc(-1 * 20px);
    margin-bottom: calc(-1 * 20px);
}

.parts-categories__item{
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 4 - 20px);
        
    margin-left: calc(1 * 20px);
    margin-bottom: calc(1 * 20px);
        
    padding: 25px;

    width: 275px;

    /* outline: 1px solid red; */
}

.name-category{
    text-align: center;

    font-size: 18px;
    font-weight: 700;
}

.img-wrapper {
    transition: 300ms ease-in-out;
}

.img-wrapper:hover {
    transform: scale(1.2);
}


/* about.html start */
/* mission-section start */

.about-overlays{
    /* max-width: 1600px; */
    /* min-height: 600px; */
    margin-left: auto;
    margin-right: auto;
    background-image: 
    /* linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), */
        url(../images/jpg/about-background1.jpg);
        /* background-size: cover; */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-attachment: scroll;
    /* color: var(--opposite-text); */
        
    /* width: 100%; */
    /* max-height: 542px;
    padding-bottom: 0%; */
}

.mission-section{
    padding-top: 150px;
    padding-bottom: 0px;
    background-color: var(--background-top);
}

.mission-container{
    text-align: center;
    background-color: var(--color-schemes-maine);
    opacity: 0.9;
    border: 1px solid var(--primary-background);
    
    border-radius: 10px;
    padding: 40px 40px;
}

.about-subtitle{
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
}

.about-text{
    margin-bottom: 20px;
}
/* mission-section end */


/* About section     start */
.about-content{
    /* background-color:var(--color-schemes-maine); */
    background-color: var(--background-top);
    padding-top: 50px;
    padding-bottom: 150px;
}


/* Timeline  start*/


/* The actual timeline (the vertical ruler) */
.timeline {
    background-color: var(--color-schemes-maine);
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    border: 2px solid var(--primary-background);
    border-radius: 10px;
    padding: 40px 0;
    opacity: 0.9;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--primary-background);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Стрелочка направленная вверх(за синим полем) */
/* .timeline::before{
        content: " ";
            height: 0;
            position: absolute;
            top: -22px;
            width: 0;
            z-index: 1;
            right: 571px;
            border: medium solid white;
            border-width: 10px 0 10px 24px;
            border-color: transparent transparent transparent white;
        transform: rotate(270deg);    
} */

/* Container around content */
.container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container-timeline::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    transform: rotate(45deg);
    right: -13px;
    background-color: white;
    border: 4px solid var(--color-schemes-accent-logo);
    top: 20px;
    border-radius: 25%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 26px;
    border: medium solid white;
    border-width: 10px 0 10px 14px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 26px;
    border: medium solid white;
    border-width: 10px 14px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -12px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 10px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container-timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container-timeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}


/* Timeline end */


.footer-box--about{
    background-color: #f4f5f8;
}

/* липкий header-top, фиксированный заголовок при прокрутке*/
/*  <header class="header-top sticky"> - вынесли с <div class="header__wrapper--about"> для того чтобы сработал  class="sticky" */
.sticky{
        position: -webkit-sticky;
        /* Safari */
        position: sticky;
        top: 0;
     /* этот z-index перекрывает слои и дает возможность проскальзывать картике сверху, а тексту снизу */
        z-index: 2;
}

/* about.html end */
/* About section      end */






/* Guarantee section     start */

/*  */

/*  */


/*  */
/* Styles for website counter container */
.website-counter {display: inline-block;
    background-color: #49adff;
    height: 25px;
    width: 25px;
    color: white;
    border-radius: 30px;
    font-weight: 700;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    padding-top: 6px;
}

/* Styles for reset button */
#reset {
    margin-top: 20px;
    background-color: #008cba;
    cursor: pointer;
    font-size: 18px;
    padding: 8px 20px;
    color: white;
    border: 0;
}
/*  */



.guarantee-content {
    
}

.guarantee-subtitle{
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}

.guarantee-subtitle:not(:first-child) {
    margin-top: 0px;
}

.guaraantee-text{
    text-align: justify;
    font-size: 16px;
}
/* Guarantee section      end */




/* Payment section     start */
.payment-text {
    text-align: justify;
    font-size: 16px;
    /* margin-bottom: 10px; */
}

.payment-text:not(:last-child) {
    margin-bottom: 10px;
}

.payment-list {
    list-style-type: none;
    counter-reset: number;
}

.payment-item::before {
    color: #fff;
    background: var(--color-schemes-accent-logo);
    display: inline-block;
    text-align: center;
    margin: 3px 3px;
    line-height: 22px;
    width: 22px;
    height: 22px;
    counter-increment: number;
    content: counter(number);
    border-radius: 3px;
    box-shadow: 2px 2px 0 0 #ccc;
    margin-top: 10px;
    margin-right: 12px;
}

.payment-details {
    margin-top: 25px;
    /* border: 1px solid var(--line-header); */
}

.payment-summary {
    /* margin-bottom: 10px; */
    /* background-color: var(--background-top); */
    background-color: #59ddff4a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    list-style: none;
    /* list-style-type: circle; */

    /* padding-left: 2em;
    background-image: url(/images/svg/logo.svg);
    background-position: 0 0;
    background-size: 1.6em 1.6em;
    background-repeat: no-repeat; */
}
/* Добавляем собственный маркер для закрытого состояния */
.payment-summary::before{
    content: '\2BAB';
    margin-right: 12px;
}
/* Добавляем собственный маркер для открытого состояния */
details[open] .payment-summary::before {
    content: '\2BAE';
}
details[open] li{
animation: slide 1s ease-out;
}
@keyframes slide{
    0%{
        opacity: 0; transform: translate(0,-40px);
    }
    100%{
        opacity: 1; transform: translate(0,0);
    }
}
.payment-description{
    margin-top: 10px;
}
/* Payment section      end */

/* Delivery section     start */
.delivery-text {
    text-align: justify;
    font-size: 16px;
    /* margin-bottom: 10px; */
}
.delivery-text:not(:last-child) {
    margin-bottom: 10px;
}
.delivery-list{
    list-style-type: none;
    counter-reset: number;
}
.delivery-item::before{
    color: #fff;
    background: var(--color-schemes-accent-logo);
    display: inline-block;
    text-align: center;
    margin: 3px 3px;
    line-height: 22px;
    width: 22px;
    height: 22px;
    counter-increment: number;
    content: counter(number);
    border-radius: 3px;
    box-shadow: 2px 2px 0 0 #ccc;
    margin-top: 10px;
    margin-right: 12px;
}
.delivery-details{
margin-top: 25px;
}
.delivery-summary{
    /* margin-bottom: 10px; */
    /* background-color: var(--background-top); */
    background-color: #59ddff4a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
}
.payment-gap{
    margin-left: 50px;
}
/* Delivery section      end */


/* Contacts section     start */
.contacts-content {
    /* height: 500px; */
}

/* Contacts section      end */

/* Offer section     start */
.-content {
   
}

/* Offer section      end */






/* scroll Indicator start*/

.under-header {
    position: fixed;
    top: 168px;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

.header h2 {
    text-align: center;
}

.progress-container {
    width: 100%;
    height: 6px;
    background: var(--background-top);
}

.progress-bar {
    height: 6px;
    /* background-color: rgb(89 221 255 / 25%); */
    background-color: var(--color-schemes-base);
    width: 0%;
}

/* scroll Indicator end*/

/*  размытие с помощью box-shadow start*/
.example {
    /* background-clip:content-box;

    top: 50%;
    left: 50%;
    background-image: url(pic.jpg);
    box-shadow: inset 0 0 15px 15px rgb(255 255 255); */
    
}
/*  размытие с помощью box-shadow end*/



/* contacts page start */

/* редактирование изображения карт */
/* iframe { 
    filter: url() grayscale(50%) invert(5%) sepia(10%) saturate(70%) brightness(100%) contrast(110%) hue-rotate(-130deg);
} */

/* сделать универсальным классом */
.section{
    padding-top: 50px;
    padding-bottom: 25px;
}

.point-set{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--point-set-gap));
    margin-top: calc(-1 * var(--point-set-gap));
    
    /* outline: 1px solid red; */
}

.point-set > .point-item{
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 2 -  var(--point-set-gap));
    margin-left:  var(--point-set-gap);
    margin-top:  var(--point-set-gap);
   
    /* outline: 3px solid blue; */
}

.point-thumb {

    outline: 1px solid var(--color-schemes-base);
}

iframe{
    display: block;
    max-width: 100%;
    /* height: auto; */
}

/* сделать универсальным классом */
.subtitle{
    font-size: 20px;
    color: var(--secondary-text);
    text-align: center;
    margin-bottom: 20px;
}

.point-adress{
    flex: 1;
    margin-bottom: 20px;
    /* text-align: center; */
}

.point-adress > p:not(:last-child){
    margin-bottom: 5px;
}

.point-description{
    margin-top: 20px;
}

/* contacts page end */


/* guarantee page start */
/* таймер */
.timer{

    /* padding-top: 50px; */
    padding-bottom: 50px;
  
}

.timer__items {
    display: flex;
    font-size: 48px;
    justify-content: center;

}

.timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
}

.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
}

.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
}
/* guarantee page end */

  /* < !-- modal window start --> */

  
  /* фон для модального окна - общая оболочка */
.modal__backdrop {
    background-color: var(--background-bottom);
    background-image:
        /* linear-gradient(to right,
         rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), */
        url(../images/jpg/about-background1.jpg);
        /* background-size: cover; */
    display: none;
    position: fixed;
    z-index: 16;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */

}

/* тело модального окна */
.modal__body{
    background-color: var(--background-middle);
    border: 1px solid var(--line-header);
    /* min-width: 50%; */
    width: 500px;
    height: 716px;
    z-index: 17;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

/* кнопка закрытия модального окна */
.modal__close{
    display: block;
    position: absolute;
    z-index: 1;
    right: 6px;
    top: 6px;
    height: 34px;
    width: 35px;
    background-color: var(--background-middle);
    fill: var(--secondary-text);
    /* padding: 3px 6px 0px 6px; */
    border-radius: 50%;
    border: 1px solid var(--line-header);
    /* text-align: center; */
}

.button.modal__close:focus,
.button.modal__close:hover,
.button.modal__close:active {
    fill: var(--color-schemes-accent);
    border: 1px solid var(--color-schemes-accent);
   
    background-color: #59d0ff2c;
}

.modal__subtitle{
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-text);
    text-align: center;
    margin-bottom: 10px;
    padding: 0 65px;

}

.modal-form{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 30px 20px 20px;
    /* padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px; */
    
}

.modal-form__discription{
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.171;
    letter-spacing: .01em;
    color: #757575;
}

.modal-form__discription_textarea{
    /* margin-bottom: 20px; */
}

.modal-form__input-wrapper{
    /* display: inline; */
    display: block;
    position: relative;
    margin-top: 4px;
}

.modal-form__input{
    display: block;
    width: 100%;
    height: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    cursor: pointer;

    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus, .modal-form__input:hover, .modal-form__input:active{
    /* border: 20px solid var(--color-schemes-maine); */
    border-color: var(--color-schemes-maine);
}


.flex-input__comment{
display: flex;
flex-wrap: wrap;
margin: 0 auto;
margin-left: calc(-1 * 14px);
margin-bottom: calc(-1 * 10px);
justify-content: space-between;
}


.input__comment {
   
    width: 100%;
    height: 40px;
    padding-left: 16px;
    margin-top: 4px;
    resize: none;

 
}

.input__comment-item{
    min-width: 220px;
    /* display: flex; */
    /* flex-direction: column; */
    flex-basis: calc((100% - 2 * 14px)/2);
    margin-left: calc(1 * 14px);
    margin-bottom: calc(1 * 10px);

    /* justify-content: space-between; */
    /* align-items: center; */
    /* justify-content: center; */
}

/* .name-parametr{
    margin-left: 10px;
} */

.modal-form__icon{
}

.modal-form__svg{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}



.modal-form__svg--close{
    left: 10px;
    top: 16px;
    width: 14px;
    height: 14px;
}

.modal-form__input:focus + .modal-form__icon, .modal-form__input:hover + .modal-form__icon {
    fill: var(--color-schemes-maine);
}

.modal-form__agree-newsletter{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.174;
    letter-spacing: .03em;
    font-style: normal;
    text-align: center;
    color: #757575;
    cursor: pointer;
}

.modal-form__checkbox{
    appearance: none;
    position: absolute;
}

.checkbox__icon{
    display: inline-block;
    border: 1px solid var(--secondary-text);
    border-radius: 2px;
    vertical-align: sub;
}

.modal-form__checkbox:checked+.checkbox__icon{
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-color: var(--color-schemes-maine);
    border-color: var(--color-schemes-maine);
}

.checkbox__icon--check-mark{
    display: block;
    width: 16px;
    height: 15px;
}

.modal-form__input:active,
.modal-form__input:hover,
.modal-form__input:focus {
    outline: none;
    outline: 0;
    outline-offset: 0;
}

.agree-newsletter__text{
    display: inline;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: .03em;
}

.agreement__link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: .03em;
    color: var(--color-schemes-maine);
    /* text-decoration:underline; */
    position: relative;
    text-decoration: none;
}

/* плавное подчеркивание ссылки при наведении  start */
.agreement__link::after{
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-schemes-base);
    content: '';
    transition: width 0.5s ease-out;
}

.agreement__link:hover::after, .agreement__link:focus::after{
    width: 100%;
}
/* плавное подчеркивание ссылки при наведении  end */

.agreement__link:focus, .agreement__link:hover{
color: var(--color-schemes-base);
}

.modal-form__button{
    /* display: block; */
    margin: auto;
    /* box-shadow:var(--box-shadow1), var(--box-shadow2), var(--box-shadow3); */
    box-shadow: 1px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
}
/*   <!-- modal window end --> */

/*   <!-- modal window start для index.html --> */
 .inputBox-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     min-height: 10px;
     /* flex-direction: column; */
     gap: 10px;
     margin-top: 14px;
 }
 .inputBox{
    position: relative;
    width: 220px;
 }
 .inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    outline: none;
    color: var(--secondary-text);
    font-size: 1em;
    transition: 0.5s;
 }
 .inputBox span{
    position: absolute;
    left: 0;
    padding: 14px 10px;
    pointer-events: none;
    /* font-size: 0.7em; */
    font-size: 12px;
    color: var(--line-header);
    /* text-transform: uppercase; */
    text-transform:none;
    transition: 0.5s;

 }
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: var(--color-schemes-maine);
    transform: translateX(10px) translateY(-5px);
    /* font-size: 0.5em; */
    font-size: 11px;
    padding: 0 4px;
    background-color: var(--primary-background);
    border-left: 1px solid var(--color-schemes-maine);
    border-right: 1px solid var(--color-schemes-maine);
    letter-spacing: 0.1em;
}
.inputBox:nth-child(1) input:valid~span,
.inputBox:nth-child(1) input:focus~span,
.inputBox:nth-child(2) input:valid~span,
.inputBox:nth-child(2) input:focus~span,
.inputBox:last-child input:valid~span,
.inputBox:last-child input:focus~span{
    background-color: var(--color-schemes-base);
    color: var(--secondary-text);
    border-radius: 2px;
}
.inputBox input:valid,
.inputBox input:focus{
    border: 1px solid var(--color-schemes-maine);
}
.modal-form__agree-newsletter--index{
    margin-top: 100px;
}
/*   <!-- modal window  end для index.html --> */

/* button fild start */
.button__fild {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.button__fild > .button__secondary:not(:last-child){
    margin-right: 14px;
}
/* button fild end */








/*   < !-- modal window master-catalog.html start --> */


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    /* скрол в случае пререполнения только вертикальный */
    overflow-y: auto;
    overflow-x: hidden;
    /* анимация появления */
    transition: all 0.8s ease 0s;
}

/* без js */
/* .popup:target{
    opacity: 1;
    visibility: visible;
} */

/* с js */
.popup.open{
    opacity: 1;
    visibility: visible;
}


/* клик на поле вне модалки, - для ее закрытия  */
/* .popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} */

/* без js */
/* .popup:target .popup__content { */
    /* transform: translate(0px, 0px); */
    /* opacity: 1; */
    /* еще одна анимация, вместо transform: translate(0px, 0px);*/
    /* transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
} */

/* с js */
.popup.open .popup__content{
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}


.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 30px 30px;
    position: relative;

    /* контент изначально скрываем */
    transition: all 0.8s ease 0s;
    opacity: 0;
    /* transform: translate(0px, -100%); */
    /* еще одна анимация, вместо transform: translate(0px, -100%);*/
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 40px;
    text-decoration: none;
    color: #000;

}

.popup__title {
    font-size: 40px;
    margin: 0px 0px 1em 0px;
}

body.lock {
    overflow: hidden;
}

.popup__text {}
/*   <!-- modal window master-catalog.html end --> */


/*  спойлер со скрытым содержимым и чекбоксами  start */
/* .filter details+details {
    margin-top: 0.5em;
} */

/* .filter summary { */
    /* font-weight: 700; */
    /* жирный шрифт метки */
    /* cursor: pointer; */
    /* курсор на метке имеет вид руки */
/* } */

/* .filter ul {
    list-style: none;
    margin: 0.5em;
    padding: 0;
} */

/* .filter summary:hover {
    color:var(--color-schemes-base); */
    /* изменение цвета метки при наведении */
/* } */

/* li label input{
    display: inline-block;
    margin-right: 10px;

} */

/* .filter{
    z-index: 1;
    position: fixed;
    background-color: white;
    width: 222px;
    /* height: 100px; */
/* } */ 
/*  спойлер со скрытым содержимым и чекбоксами  end */